body{
    background-color :pink;
    background-image: url(image2.jpg);
    background-repeat: repeat-x;
}
.container{
    width:70%;
    height: 100px;
    margin: auto;
    color: rgb(218, 30, 61);
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: whitesmoke;
}
.tabel-1{
    width:70%;
    height: 350px;
    margin: auto;
    color: rgb(218, 30, 61);
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: whitesmoke;
}
.tab1{
    width:70%;
    height: 350px;
    margin: auto;
    color: rgb(218, 30, 61);
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: whitesmoke; 
}
.tabel-2{
    width:70%;
    height: 350px;
    margin: auto;
    color: rgb(218, 30, 61);
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: whitesmoke;
}
.container{
    padding: 5px;
}
table{
    margin:23px;
}
button{
    width:50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: rgb(233, 8, 117);
    border-radius: 7px;
}
